{% extends "base.html" %}
{% block title %}Login | NFS-e Manager{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-header bg-success text-white fw-semibold">Login</div>
      <div class="card-body p-4">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-success w-100 mt-2">Entrar</button>
        </form>
        <hr>
        <p class="text-center small">Não tem conta? <a href="{% url 'registro' %}">Registre-se</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}